<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs201.sendo.mappers.ProductRepository">
    <select id="getProductCountByCategory" resultType="Long">
        <if test="keyword != null">
            <bind name="pattern" value="'%' + keyword + '%'"/>
        </if>
        select count(*)
        from product
        <where>
            <if test="cate1 != null">cat_lv1_id = #{cate1}</if>
            <if test="cate2 != null">and cat_lv2_id = #{cate2}</if>
            <if test="cate3 != null">and cat_lv3_id = #{cate3}</if>
            <if test="keyword != null">and path_name like #{pattern}</if>
        </where>
    </select>

    <select id="getListProductByCategory" resultType="com.cs201.sendo.models.Product">
        <if test="keyword != null">
            <bind name="pattern" value="'%' + keyword + '%'"/>
        </if>
        select product_id as productId,
        sd_product_id as sdProductId,
        cat_lv1_id as catLv1Id,
        cat_lv2_id as catLv2Id,
        cat_lv3_id as catLv3Id,
        path_name as pathName,
        alter_href as alterHref
        from product
        <where>
            <if test="cate1 != null">cat_lv1_id = #{cate1}</if>
            <if test="cate2 != null">and cat_lv2_id = #{cate2}</if>
            <if test="cate3 != null">and cat_lv3_id = #{cate3}</if>
            <if test="keyword != null">and path_name like #{pattern}</if>
        </where>
        <if test="pagingParams != null">
            limit ${pagingParams.size}
            offset ${pagingParams.offset}
        </if>
        <if test="pagingParams == null">
            limit 20
        </if>
    </select>

    <select id="getRandomProduct" resultType="com.cs201.sendo.models.Product">
        select p.product_id as productId,
        p.sd_product_id as sdProductId,
        p.cat_lv1_id as catLv1Id,
        p.cat_lv2_id as catLv2Id,
        p.cat_lv3_id as catLv3Id,
        p.path_name as pathName,
        p.alter_href as alterHref
        from product p
        left join product_data pd on p.product_id = pd.product_id
        where pd.price <![CDATA[ < ]]> pd.price_max
        order by RAND(now()) desc
        <if test="params != null">
            limit ${params.size}
            offset ${params.offset}
        </if>
        <if test="params == null">
            limit 20
        </if>
    </select>

    <select id="getRandomProductForRecommend" resultType="com.cs201.sendo.models.Product">
        select p.product_id as productId,
        p.sd_product_id as sdProductId,
        p.cat_lv1_id as catLv1Id,
        p.cat_lv2_id as catLv2Id,
        p.cat_lv3_id as catLv3Id,
        p.path_name as pathName,
        p.alter_href as alterHref
        from product p
        left join product_data pd on p.product_id = pd.product_id
        where pd.price <![CDATA[ < ]]> pd.price_max
        order by RAND(now()) * 10 desc
        limit 20
    </select>

    <select id="getListRelatedProduct" resultType="com.cs201.sendo.models.Product"
            parameterType="com.cs201.sendo.models.Product">
        select product_id as productId,
        sd_product_id as sdProductId,
        cat_lv1_id as catLv1Id,
        cat_lv2_id as catLv2Id,
        cat_lv3_id as catLv3Id,
        path_name as pathName,
        alter_href as alterHref
        from product
        where cat_lv2_id = #{catLv2Id} and product_id <![CDATA[ <> ]]> #{productId}
        limit 20
    </select>

    <select id="getTrendingProducts" resultType="com.cs201.sendo.models.Product">
        select count(v.product_id), v.product_id as productId,
               p.sd_product_id as sdProductId,
               p.cat_lv1_id as catLv1Id,
               p.cat_lv2_id as catLv2Id,
               p.cat_lv3_id as catLv3Id,
               p.path_name as pathName,
               p.alter_href as alterHref
        from view_history v
                 left join product p on v.product_id = p.product_id
        group by v.product_id
        order by count(v.product_id) desc;
    </select>

    <select id="getProductById" resultType="com.cs201.sendo.models.Product">
        select product_id as productId,
        sd_product_id as sdProductId,
        cat_lv1_id as catLv1Id,
        cat_lv2_id as catLv2Id,
        cat_lv3_id as catLv3Id,
        path_name as pathName,
        alter_href as alterHref
        from product
        where product.product_id = #{productId}
        limit 1
    </select>


    <select id="getProductDataByIds" resultMap="ProductDataMap">
        select p.product_id as productId,
        p.sendo_pid as sendoPid,
        p.name as name,
        p.images as images,
        p.order_count as orderCount,
        p.shop_info as shopInfo,
        p.price as price,
        p.price_max as priceMax,
        p.short_description as shortDescription,
        p.description as description,
        s.id as s_id,
        s.name as s_name,
        s.image as s_image,
        r.percent_star1 as r_percent_star1,
        r.percent_star2 as r_percent_star2,
        r.percent_star3 as r_percent_star3,
        r.percent_star4 as r_percent_star4,
        r.percent_star5 as r_percent_star5,
        r.star1 as r_star1,
        r.star2 as r_star2,
        r.star3 as r_star3,
        r.star4 as r_star4,
        r.star5 as r_star5,
        r.total_rated as r_total_rated,
        r.percent_number as r_percent_number
        from product_data p
        left join shop_info s on p.shop_info = s.id
        left join rating_info r on r.product_id = p.product_id
        where
        p.product_id in
        <foreach collection="ids" item="id" separator=", " open="(" close=")">
            #{id}
        </foreach>

    </select>


    <select id="getProductByIds" resultType="com.cs201.sendo.models.Product">
        select product_id as productId,
        sd_product_id as sdProductId,
        cat_lv1_id as catLv1Id,
        cat_lv2_id as catLv2Id,
        cat_lv3_id as catLv3Id,
        path_name as pathName,
        alter_href as alterHref
        from product
        where
        product_id in
        <foreach collection="ids" item="id" separator=", " open="(" close=")">
            #{id}
        </foreach>
    </select>
    <select id="getRecommendationByCategory2" resultType="com.cs201.sendo.models.Product">
        select product_id as productId,
        sd_product_id as sdProductId,
        cat_lv1_id as catLv1Id,
        cat_lv2_id as catLv2Id,
        cat_lv3_id as catLv3Id,
        path_name as pathName,
        alter_href as alterHref
        from product
        where cat_lv2_id = #{categoryId}
        order by RAND(now())
        limit 1
    </select>
    <select id="getSampleProductByCategories" resultType="com.cs201.sendo.models.Product">
            <foreach collection="catLv2Ids" item="id" separator="union">
                (select product_id as productId,
                sd_product_id as sdProductId,
                cat_lv1_id as catLv1Id,
                cat_lv2_id as catLv2Id,
                cat_lv3_id as catLv3Id,
                path_name as pathName,
                alter_href as alterHref
                from product
                where cat_lv2_id  = #{id}
                order by rand(now())
                limit 1)
            </foreach>
    </select>
    <select id="getProductDataById" resultMap="ProductDataMap">
        select p.product_id as productId,
               p.sendo_pid as sendoPid,
               p.name as name,
               p.images as images,
               p.order_count as orderCount,
               p.shop_info as shopInfo,
               p.price as price,
               p.price_max as priceMax,
               p.short_description as shortDescription,
               p.description as description,
               s.id as s_id,
               s.name as s_name,
               s.image as s_image,
               r.percent_star1 as r_percent_star1,
               r.percent_star2 as r_percent_star2,
               r.percent_star3 as r_percent_star3,
               r.percent_star4 as r_percent_star4,
               r.percent_star5 as r_percent_star5,
               r.star1 as r_star1,
               r.star2 as r_star2,
               r.star3 as r_star3,
               r.star4 as r_star4,
               r.star5 as r_star5,
               r.total_rated as r_total_rated,
               r.percent_number as r_percent_number
        from product_data p
                 left join shop_info s on p.shop_info = s.id
                 left join rating_info r on r.product_id = p.product_id
        where
            p.product_id = #{id}
    </select>


    <select id="getProductsByCateLv3" resultType="com.cs201.sendo.models.Product">
        select product_id as productId,
        sd_product_id as sdProductId,
        cat_lv1_id as catLv1Id,
        cat_lv2_id as catLv2Id,
        cat_lv3_id as catLv3Id,
        path_name as pathName,
        alter_href as alterHref
        from product
        where product.cat_lv3_id = #{cateLv3}
        limit 5
    </select>

    <resultMap id="ProductDataMap" type="com.cs201.sendo.models.ProductData">
        <result property="id" column="productId"/>
        <result property="sendoPid" column="sendoPid"/>
        <result property="name" column="name"/>
        <result property="images" column="images" javaType="java.util.ArrayList"
                jdbcType="VARCHAR" typeHandler="com.cs201.sendo.mappers.handler.StringArrayListTypeHandler"/>
        <result property="orderCount" column="orderCount"/>
        <result property="price" column="price"/>
        <result property="priceMax" column="priceMax"/>
        <result property="shortDescription" column="shortDescription"/>
        <association property="shopInfo" javaType="com.cs201.sendo.models.ShopInfo">
            <result property="id" column="s_id"/>
            <result property="name" column="s_name"/>
            <result property="logo" column="s_image"/>
        </association>

        <association property="ratingInfo" javaType="com.cs201.sendo.clients.pojos.RatingInfo">
            <result property="percentStar1" column="r_percent_star1"/>
            <result property="percentStar2" column="r_percent_star2"/>
            <result property="percentStar3" column="r_percent_star3"/>
            <result property="percentStar4" column="r_percent_star4"/>
            <result property="percentStar5" column="r_percent_star5"/>
            <result property="star1" column="r_star1"/>
            <result property="star2" column="r_star2"/>
            <result property="star3" column="r_star3"/>
            <result property="star4" column="r_star4"/>
            <result property="star5" column="r_star5"/>
            <result property="totalRated" column="r_total_rated"/>
            <result property="percentNumber" column="r_percent_number"/>
        </association>

    </resultMap>

</mapper>

