<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs201.sendo.mappers.UserRepository">

    <insert id="createUser" parameterType="com.cs201.sendo.models.UserModel" useGeneratedKeys="true">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="birthday != null">birthday,</if>
            <if test="gender != null">gender,</if>
            <if test="password != null">password,</if>
            <if test="username != null">username,</if>
            <if test="survey != null">survey,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="gender != null">#{gender},</if>
            <if test="password != null">#{password},</if>
            <if test="username != null">#{username},</if>
            <if test="survey != null">#{survey},</if>
        </trim>
        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="getUserById" resultType="com.cs201.sendo.models.UserModel">
        select *
        from user
        where user.id = #{userId}
        limit 1
    </select>

    <select id="getUserByLoginRequest" resultType="com.cs201.sendo.models.UserModel" parameterType="com.cs201.sendo.models.LoginRequest">
        select *
        from user
        <where>
            <if test="username != null and username != ''"> or username = #{username} </if>
            <if test="username != null and username != ''"> or s_id = #{username} </if>
            <if test="sendoUserId != null and sendoUserId != ''">or s_id = #{sendoUserId}</if>
        </where>
        limit 1
    </select>

    <select id="getUserByUsername" resultType="com.cs201.sendo.models.UserModel">
        select *
        from user
        <where>
            <if test="username != null and username != ''"> username = #{username} </if>
            <if test="username != null and username != ''"> or s_id = #{username}</if>
        </where>
        limit 1
    </select>
</mapper>