<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs201.sendo.mappers.ViewHistoryMapper">
    <insert id="insertViewHistory" parameterType="com.cs201.sendo.models.ViewHistory">
        insert into view_history (
        user_id,
        product_id,
        cat_lv1_id,
        cat_lv2_id,
        cat_lv3_id,
        username,
        s_id,
        date_time,
        product_name
        )
        VALUES (
        #{userId},
        #{productId},
        #{catLv1Id},
        #{catLv2Id},
        #{catLv3Id},
        #{username},
        #{sId},
        #{dateTime},
        #{productName}
        )
    </insert>

    <delete id="deleteViewHistory" parameterType="com.cs201.sendo.models.ViewHistory">
        delete from view_history
        where user_id = #{userId}
        and product_id = #{productId}
    </delete>

    <delete id="deleteAllViewHistory">
        delete from view_history
        where user_id = #{id}
    </delete>

    <select id="getListProductIdHistByUser" resultType="java.lang.Long">
        select distinct product_id
        from view_history
        where user_id = #{userId}
        group by product_id
        order by max(date_time) desc , product_id
        limit #{params.size}
        offset #{params.offset}
    </select>

    <select id="getList20ProductIdHistByUser" resultType="java.lang.Long">
        select distinct product_id
        from view_history
        where user_id = #{userId}
        group by product_id
        order by max(date_time) desc , product_id
        limit 100
        offset 0
    </select>

    <select id="getViewHistCount" resultType="long">
        select count(*)
        from view_history
        where user_id = #{userId}
    </select>
</mapper>